<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'gallery/style/style.css' %}" />
    <title>Recetas</title>
  </head>
  <body>
    <h1>Recetas</h1>
    <div>
      {% for recipe in recipes %}
      <div style="margin-bottom: 20px">
        <h2>{{ recipe.title }}</h2>
        <p>Country: {{ recipe.country }}</p>
        <img src="static/{{ recipe.image.name }}" alt="{{ recipe.title }}" />
        <figcaption>{{ recipe.name }}</figcaption>
      </div>
      {% empty %}
      <p>No recipes available.</p>
      {% endfor %}
    </div>
  </body>
</html>
